node_modules/
backend/node_modules/
frontend/node_modules/

.env
backend/.env
frontend/.env

frontend/build/
backend/uploads/
uploads/

*.log
frontend/out.log
frontend/out-utf8.log
backend/PyWhatKit_DB.txt

.DS_Store
Thumbs.db
